
.App-header {
  background-color: #dee0e5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #243351;
  font-weight: bold;

}
.img-container{
  width: 15rem;

  
}
img{
  width: 100%;
}
